body{
    margin: 0;
}
section{
    padding-bottom: 120px;
}
span{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.Button{
    text-decoration: none;
    background-color: tomato;
    padding: 12px 10px;
    border-radius: 5px;
    color: white;
}
.half-width img{
    width: 50%;
}
.half{
    width: 30%;
    float: left;
}
.half img{
    width: 30%;
}